In [1]:
import pandas as pd
import seaborn as sns

In [75]:
df=pd.read_csv('Student_Marks.csv')
df

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [77]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(X=df[['number_courses','time_study']], y=df['Marks'])

LinearRegression()

In [78]:
model.__dict__

{'fit_intercept': True,
 'normalize': False,
 'copy_X': True,
 'n_jobs': None,
 'positive': False,
 'n_features_in_': 2,
 'coef_': array([1.86405074, 5.39917879]),
 '_residues': 1211.6962069108952,
 'rank_': 2,
 'singular_': array([24.2017486 , 17.09698209]),
 'intercept_': -7.456346231178351}

In [79]:
import pickle

with open('linear_regression_model.pkl', 'wb') as f:
    pickle.dump(model, f)